<!DOCTYPE html>
<html>
  <head>
      <title>{{ title }}</title>
      <meta charset="UTF-8">
      <meta name="author" content="Fiona Young">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
      <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    {% include "header.html" %}
    <main>
      {{ content }}
    </main>
    
    <footer>
     <!-- left/right footer -->
     <div style="display: flex; justify-content: space-between; align-items: center;">
       <a href="https://github.com/fionaEyoung/fionaEyoung.github.io">Site source</a>
       <span>Last updated: 11 May 2026</span>
     </div>
    </footer>

  </body>

</html>
