<header>

    <div id="steckbrief" >
        <h1>Fiona Young</h1>
        <p>Research Associate <br/> The Alan Turing Institute</p>

        <div id="icons">
        <a target="_blank" href="https://www.turing.ac.uk/people/researchers/fiona-young">
            <img src="media/T.png" class="icon_light" alt="Turing profile">
            <img src="media/T_inverted.png" class="icon_dark" alt="Turing profile"></a>
        <a target="_blank" href="https://github.com/fionaEyoung/">
            <img src="media/gh_light.png" class="icon_light" alt="Github profile">
            <img src="media/gh_dark.png" class="icon_dark" alt="Github profile"></a>
            <a href="https://www.linkedin.com/in/fiona-young-25b585120">
            <img src="media/in_light.png" class="icon_light" alt="Linkedin profile">
            <img src="media/in_dark.png" class="icon_dark" alt="Linkedin profile"></a>
        <a target="_blank" href="https://www.researchgate.net/profile/Fiona-Young-11">
            <img src="media/rg.png" class="icon" alt="Researchgate profile"></a>
        <a target="_blank" href="https://www.instagram.com/thisbefi/">
            <img src="media/insta.png" class="icon" alt="Instagram profile"></a>
        </div>
        <p><a href="mailto:fyoung@turing.ac.uk">fyoung <i>at</i> turing.ac.uk</a></p>

    </div>

    <img src="media/head3.jpeg" alt="Avatar" id="portrait">


</header>
<hr class="rounded">

